* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: 62.5%;
}

body {
    background-image: url(./images/imc.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}


/*SCREEN1*/



.screen1 {
    width: 42.8rem;
    height: 40.0rem;
    margin: 3.5rem auto 0;
    padding: 4.8rem 6.4rem 6.4rem;
    display: flex;
    flex-direction: column;
    border-radius: .6rem;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
}

h1 {
    font-size: 3.2rem;
    line-height: 4.0rem;
    margin-bottom: 3.2rem;
}

label {
    color: #00453A;
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-bottom: 0.8rem;
}

input {
    width: 30.0rem;
    height: 5.2rem;
    padding: 1.6rem;
    background: #DCE2E9;
    border: 0.1rem solid #02799D;
    border-radius: .4rem;
    margin-bottom: 1.6rem;
    font-size: 1.6rem;
}

.screen1 button {
    width: 30.0rem;
    height: 5.2rem;
    padding: 1.6rem;
    border-radius: .4rem;
    background: #02799D;
    border: none;
    font-size: 1.6rem;
    color: white;
    cursor: pointer;
}

.screen1 button:hover {
    background: #4690a6;
}



/*MODAL*/



.modal {
    background: white;
    width: 36.3rem;
    height: 15.2rem;
    margin: 2.0rem auto;
    padding: 4.8rem 6.4rem 6.4rem;
    text-align: center;
    font-size: 2.0rem;
    border-radius: .6rem;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
}

.modal {
    position: relative;
}

.modal button {
    width: 2.4rem;
    height: 2.4rem;
    background: none;
    border: none;
    position: absolute; /*posicionamento relativo ao modal*/
    top: 1.6rem;
    right: 1.6rem;
    cursor: pointer;

    transition: transform .5s;
}

.modal button:hover {
    transform: scale(1.5);
}

.wrapper.open {
    opacity: 1;
    visibility: visible; /*caixa fica visível com a classe open*/
}

.wrapper {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.70);

    display: grid;
    place-content: center;

    opacity: 0;
    visibility: hidden; /*caixa fica invisível, necessitando do javascript para adicionar a classe "open"*/
}



/*ALERT ERROR*/

.alertError.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}


.alertError {
    background: red;
    color: white;
    font-weight: 700;
    padding: .8rem;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    opacity: 0;
    visibility: hidden;

    transform: translateY(-30px);
    transition: transform .2s;
}